.customize-control-kirki .button.button-small {
	height: 29px;
}

/*custom*/
li.customize-control {
	position: relative;
}

li.customize-control hr {
	margin: 0 -20px 0;
}

.customize-control-kirki-custom {
	display: block !important;
}

.customize-control-repeater .repeater-fields .repeater-row {
	background: none !important;
}

#customize-controls #customize-theme-controls .accordion-section > .accordion-section-title > span + span,
#customize-controls .control-section .customize-section-title h3 > .dashicons {
	display: none;
}

#customize-controls #customize-theme-controls .customize-info > .accordion-section-title {
	border-bottom: none !important;
}

.group_title {
	padding: 20px 0 5px;
	border-bottom: 3px dotted #a9a9a9;
	font-weight: 700;
	text-transform: uppercase;
	color: #333;
	letter-spacing: .5em;
}

.group_title i {
	padding-right: 5px;
}

.big_title {
	background: #fff;
	margin: 10px -20px;
	padding: 10px 20px;
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
	letter-spacing: .1em;
	font-size: 20px;
	font-weight: 200;
}

.big_title + .desc {
	color: #999;
	font-size: 13px;
}

.customize-control-kirki-radio-image input + label img {
	box-shadow: none !important;
	border: 0 !important;
	padding: 2px;
	background-color: #999999;
	margin-right: 5px;
}

.customize-control-kirki-radio-image input:checked + label img {
	background-color: #3498db;
}

.control-section-kirki-expanded {
	border-bottom: 1px solid #dddddd !important;
}

.control-section-kirki-expanded .customize-section-title h3 {
	font-size: 14px !important;
	font-weight: 600 !important;
}

.control-section-kirki-expanded .customize-section-title h3:after {
	right: 0;
	content: "\f345";
	border: none;
	background: 0 0;
	font: 400 20px/1 dashicons;
	speak: none;
	display: block;
	padding: 0;
	text-indent: 0;
	text-align: center;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	float: right;
	top: 4px;
	transform: rotate(90deg);
}

.customize-control-kirki-code .kirki-codemirror-editor.expanded + .CodeMirror + a.close {
	background: #333 !important;
	left: 300px !important;
	right: auto !important;
	color: rgba(255, 255, 255, .85) !important;
}

.customize-control-repeater .repeater-row-content {
	background-color: #f7f7f7;
}

.customize-control-kirki-spacing .wrapper .control > div h5 {
	margin: 0 0 7px !important;
}
